@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  margin: 0;

  font-family: "Noto Sans KR", sans-serif;
}

.wrapper {
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1rem;
}
.week-title-1 {
  margin-top: 5rem;
  font-weight: 800;
}
.week-title-2 {
  margin-top: -1rem;
  text-transform: capitalize;
}

.three-frame {
  width: 100%;
  height: 30rem;

  border-radius: 1.5rem;
}
